.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.font24 {
    font-size: 24px;
}

.weight {
    font-weight: 400;
}

.weight700 {
    font-weight: 700;
}

.color-dark {
    color: #0a2240;
}

.color-blue {
    color: #15539a;
}

.txt-right {
    text-align: right;
    padding-right: 50px;
}

.ml-5 {
    margin-left: -5px;
}

.card-bank {
    border: 1px solid black;
    padding: 16px 50px;
    border-radius: 8px;
    width: 335px;
}

.vector-1 {
    width: 336px;
    margin-top: -45px;
}

.vector-2 {
    top: 17%;
    position: absolute;
    right: 0px;
    width: 75px;
}

.table th,
.table td {
    padding: 10px !important;
}

.line {
    border: 0.5px solid #c4c4c4;
    width: 100%;
    margin: 15px 0px;
}

.pl-60 {
    /* padding-left: 40px; */
    padding: 0px 50px;
}

.txt-underline {
    text-decoration: underline;
}

.card-detail {
    background-color: whitesmoke;
    margin-left: 148px;
    padding: 20px 0px 20px 30px;
    border-radius: 10px;
}

.pay-detail {
    background-color: whitesmoke;
    padding: 20px 0px 20px 20px;
    border-radius: 10px;
}

.space-left {
    /* margin-left: -5px; */
    padding-left: 15px;
}

.wrapper-card {
    width: 150px;
    margin-left: 57px;
}

.col-rp {
    padding: 0px;
    padding-right: 3px;
}

.col-num {
    padding: 0px;
    padding-right: 30px;
}

@media print {
    body {
        -webkit-print-color-adjust: exact !important;
    }
    .card-detail {
        background-color: whitesmoke !important;
        margin-left: 120px !important;
        padding: 20px 0px 20px 30px !important;
        border-radius: 10px !important;
    }
    .space-left {
        /* margin-left: -5px; */
        padding-left: 15px !important;
    }
    .pl-60 {
        padding: 0px 0px 0px 50px !important;
    }
}
